---
import Social from "./Social.astro";
---

<footer>
  <p>Watch me lurk on <Social platform="bluesky", username="molson.design" />!</p>
  <p>Learn more about my projects on <Social platform="github", username="mykol64" />!</p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>